
.sec2 {
  padding: 30px 0 0 0;
  &_item {
    @apply block border-solid border border-white-red rounded-2xl1 relative h-h63 pt-p39 pr-p30 pb-p34 pl-p30 overflow-hidden #{!important};
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    &_t1 {
      @apply mt-0 mr-0 mb-mb1.75 ml-0 font-medium text-1sm leading-full-m text-dark-gray relative z-2 #{!important};
    }
    &_t2 {
      @apply m-0 font-normal text-1sm leading-full-m text-dark-gray relative z-2 #{!important};
    }
    &_t2 {
      @apply text-white
    }
  }
}
.contain{
  @apply md:container mx-auto px-4 #{!important};
}

.row{
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  @apply flex flex-wrap -mr-10 -ml-10 #{!important};
}

.col{
  @apply relative w-full min-h-0 pr-2.5 pl-2.5 #{!important};
}

